*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #dedfcc;
}

header{
    background-color: blue;
    height: 4rem;
    padding: 1rem 0;
}

#logo{
    height: 100%;
    display : flex;
    flex-direction : row;
    align-items : center;
    gap: 0.5rem;
    font-size: 1rem;
    color: white;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

header .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;

}

#logoimage{
    height: 2rem;
}
nav{
    display: none;
}

#productslist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 2rem;
}

.product{
    border: 1px solid grey;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
}

.product img{
    width: 100%;
    object-fit: cover;
}

.starrating{
    color: orange;
}

.priceandbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.addbutton{
    padding: 0.25rem;
    background-color: green;
    border: none;
    color: #dedfcc;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    transition: all ease-in 0.2s;
}

.addbutton:hover{
    background-color: rgb(68, 173, 68);

}

/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px) {
    /* Your styles for small screens go here */
    #productslist{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) {
    /* Your styles for medium screens go here */
    #menubutton{
        display: none;
    }

    nav{
        display: block;
    }
    nav ul{
        display : flex;
        flex-direction : row;
        align-items : center;
        list-style: none;
        gap: 1.5rem;
    }
    nav a{
        color: #dedfcc;
        text-decoration: none;
    }
    #productslist{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
    #productslist{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}